.App {
  text-align: center;
  background-color: #d5f4e6;
  /*background-image: url("./icons/fondo2.jpg")*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #fafafa;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-color: #fff;
  height: 20em;
  width: 17.5em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #282c34;
  text-decoration: none;
}


.cards-wrapper2 {
  display: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card2 {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-color: #fff;
  height: 10em;
  width: 35em;
  font-size: 1.5em;
  /*color: white;*/
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #282c34;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
  background-color:saddlebrown;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
  background-color: #deeaee;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
  .card2 {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}




/*ssssssssssssss******************************************************************sssssss*/
.card2:hover {
  transform: rotate(0);
}

.card2 h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
  background-color:saddlebrown;
}

.card2 h2 {
  font-size: 1em;
  text-align: center;
}

.card2 h3 {
  font-size: 0.8em;
  text-align: center;
}

.card2 p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card2 .tags {
  display: flex;
}

.card2 .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card2:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card2 .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card2:before, .card2:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card2:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card2:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card2:hover {
  color: var(--color);
}

.card2:hover:before, .card2:hover:after {
  transform: scale(1);
}

.card2-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
  background-color: #deeaee;
}

.info2 {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info2 img {
  height: 3em;
  margin-right: 0.5em;
}

.info2 h1 {
  font-size: 1em;
  font-weight: normal;
}



.cardX {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-color: #fff;
  height: 20em;
  width: 17.5em;
  font-size: 1.5em;
  /*color: white;*/
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #282c34;
  text-decoration: none;
}



.cardX:hover {
  transform: rotate(0);
}

.cardX h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
  background-color:saddlebrown;
}

.cardX h2 {
  font-size: 1em;
  text-align: center;
}

.cardX h2 {
  font-size: 1em;
  text-align: center;
}

.cardX p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.cardX .tags {
  display: flex;
}

.cardX .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.cardX:hover .tags .tag {
  background: var(--color);
  color: white;
}

.cardX .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.cardX:before, .cardX:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.cardX:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.cardX:after {
  background: white;
  width: 200%;
  height: 200%;
}

.cardX:hover {
  color: var(--color);
}

.cardX:hover:before, .card2:hover:after {
  transform: scale(1);
}

.cardX-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
  background-color: #deeaee;
}

.infoX {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.infoX img {
  height: 3em;
  margin-right: 0.5em;
}

.infoX h1 {
  font-size: 1em;
  font-weight: normal;
}




.cardY {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-color: #fff;
  height: 7em;
  width: 35em;
  font-size: 1.5em;
  /*color: white;*/
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #282c34;
  text-decoration: none;
}



.cardY:hover {
  transform: rotate(0);
}

.cardY h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
  background-color:saddlebrown;
}

.cardY h2 {
  font-size: 1em;
  text-align: left;
}

.cardY h3 {
  font-size: 0.7em;
  text-align: center;
}

.cardY p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.cardY .tags {
  display: flex;
}

.cardY .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.cardY:hover .tags .tag {
  background: var(--color);
  color: white;
}

.cardY .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.cardY:before, .cardY:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.cardY:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.cardY:after {
  background: white;
  width: 200%;
  height: 200%;
}

.cardY:hover {
  color: var(--color);
}

.cardY:hover:before, .card2:hover:after {
  transform: scale(1);
}

.cardX-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
  background-color: #deeaee;
}

.infoY {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.infoY img {
  height: 3em;
  margin-right: 0.5em;
}

.infoY h1 {
  font-size: 1em;
  font-weight: normal;
}
